<!doctype html>
<html ng-app="project">
<head>
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-resource.min.js"></script>
	<script src="https://cdn.firebase.com/v0/firebase.js"></script>
	<script src="https://cdn.firebase.com/v0/firebase-auth-client.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/0.5.0/angularfire.min.js"></script>
	<script src="project.js"></script>
</head>
<body ng-controller="MainController">
	<h2>Firebase Auth</h2>
	<button ng-click="login('twitter')">Login Twitter</button>
	<button ng-click="login('github')">Login Github</button>
	<button ng-click="logout()">Logout</button>
	<pre>{{ output | json }}</pre>
</body>
</html>
